<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{product.name || 'Loading...'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="product.name !== ''">
    <!-- <img src="https://i.picsum.photos/id/870/200/300.jpg?hmac=JX9iOiKD1A168ozbMTARKt6OKYtgsGx9GaBC8tX7oBg"/> -->
    <img src="{{product.images[0]}}"/>
    <h1>{{product.name}}</h1>
    <p>{{product.description}}</p>
  
  <ion-button *ngIf="isAuth() else login" expand="block" (click)="addCart()">Añadir al carrito</ion-button>
  <ng-template #login> 
    <ion-item [routerLink]="['/account/login']">
      <ion-button expand="block" color="primary">Iniciar Sesión antes de añadir productos</ion-button>
    </ion-item>
  </ng-template>
          
    </div>
  <div *ngIf="loadError" class="error">Error fetching data from api service. Check your internet connection or try again later.</div>
</ion-content>
