<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Order History with ID: {{order.orderId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="order.orderId !== 0">
    <div class="ion-text-center">

    <img src="https://i.picsum.photos/id/870/200/300.jpg?hmac=JX9iOiKD1A168ozbMTARKt6OKYtgsGx9GaBC8tX7oBg"/>

    <h1>Importe total: {{order.total}}€</h1>
    <p>Orden creada a fecha de: {{order.createdAt}}</p>
    <p>Fecha de última modificación: {{order.updatedAt}}</p>
    </div>

    <ion-grid>
      <ion-row>
        <ion-row size-xs="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let item of order.items">
          <ion-grid >
            <ion-col>
            <div class="ion-text-center">
            <h1>{{item.name}}</h1>
            </div>
            {{item.category.name}}
            {{item.description}}
            {{item.unitPrice}}
          </ion-col>
            
          </ion-grid>
        </ion-row>
      </ion-row>
    </ion-grid>


    

   
    </div>
    <div *ngIf="loadError" class="error">Error fetching data from api service. Check your internet connection or try again later.</div>
</ion-content>
