<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Category Products for {{category.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Ejemplo
  <!-- <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let product of products; index as i">
        <app-product-card id="{{product.id}}" name="{{product.name}}" index="{{i}}"></app-product-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
