<ion-item  [routerLink]="['/account/shopping-history', id]">
  <ion-thumbnail slot="start">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-thumbnail>
  <ion-label>
    <h3>Pedido nº{{id}}</h3>
    <p>Comprado el: {{createdAt | date:'dd/MM/yyyy - hh:mm'}}</p>
    <div *ngIf="createdAt != updatedAt">
      <p>Modificado el: {{updatedAt | date:'dd/MM/yyyy - hh:mm'}}</p>
    </div>
    <p><strong>Total: </strong> EUR {{total}}</p>
  </ion-label>
</ion-item>