<ion-header>
  <ion-toolbar>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let product of cart.products" class="ion-text-wrap">
      <ion-grid>
        <ion-row class="ion-aling-items-center">
          <ion-col size="1" class="ion-aling-items-center">
            <ion-select interface="popover" value="{{product.quantity}}" (ionChange)="updateItemUnits($event.detail.value, product.productId)">
              <ion-select-option value="{{i}}"  *ngFor="let item of [].constructor(10); let i = index">
                {{i}}
                <span *ngIf="i==0">(eliminar)</span>
              </ion-select-option>

            </ion-select>
          </ion-col>
          <ion-col>
            {{product.name}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item >
      Total: <span slot="end">{{getTotal()}} €</span>
    </ion-item>
  </ion-list>

  <div class="center">
    <ion-button class="button1" expand="block" (click)="presentModal()" >Realizar Pedido</ion-button>
  </div>

</ion-content>