<ion-header>
  <ion-toolbar>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="cart.items.length > 0; else noItems">
    <ion-list>
      <ion-item *ngFor="let item of cart.items" class="ion-text-wrap">
        <ion-grid>
          <ion-row class="ion-aling-items-center">
            <ion-col size-xs="5" size-sm="3" size-md="2" class="ion-align-items-center">
              <ion-select style="margin: 0" interface="popover" value="{{item.quantity}}" (ionChange)="updateItemUnits($event.detail.value, item.productId)">
                <ion-select-option value="{{i}}"  *ngFor="let element of [].constructor(10); let i = index">
                  {{i}}
                  <span *ngIf="i==0">(eliminar)</span>
                </ion-select-option>

              </ion-select>
            </ion-col>
            <ion-col size-xs="7" size-sm="9" size-md="10">
              {{item.name}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item >
        Total: <span slot="end">{{getTotal()}} €</span>
      </ion-item>
    </ion-list>

    <div class="center">
      <ion-button expand="block" (click)="removeItems()">Eliminar Carrito</ion-button>
    </div>
  
    <div class="center">
      <ion-button expand="block" (click)="pay()">Realizar Pedido</ion-button>
    </div>
  </div>

  <ng-template #noItems>
    <div class="full-height">
      <div class="vertical-align-middle">
        <img src="assets/images/shopping-cart.png" alt="Shopping Cart" width="50%" id="shopping-cart-image">
        <p class="text-center">There are no items in the cart. Add first someone product.</p>
      </div>
    </div>
  </ng-template>

</ion-content>