<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My personal information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>E-mail</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Phone</ion-label>
    <ion-input [(ngModel)]="phone"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="saveProfile()">Update profile</ion-button>
  <ion-label>
    Warning: Deberá volver a iniciar sesión
  </ion-label>
</ion-content>
